<div class="row">
  <div class="large-12 columns">
    <div class="row">

    <h1>Edit Post</h1>
      <p>Guidelines for new posts:</p>
      <ul>
        <li>Make sure content is appropriate.</li>
        <li>Blah blah blah</li>
        <li>Blah blah blah</li>
        <li>Blah blah blah</li>
      </ul>

      <%= form_for @wiki do |f| %>
          <%= f.label :title %>
            <%= f.text_field :title %>
          <%= f.label :body %>
            <%= f.text_area :body %>
            <%= f.submit "Save", class: 'button small' %>
      <% end %>

    </div>
  </div>
</div>  

<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright RubyTuts.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>